/* Coolors Exported Palette - https://coolors.co/000000-ffffff-7b8538-e690b8-d2e6ee-a5ce46-ab6da6 */

/* CSS HEX */
--black: #000000ff;
--white: #FFFFFFff;
--olive: #7B8538ff;
--amaranth-pink: #E690B8ff;
--columbia-blue: #D2E6EEff;
--yellow-green: #A5CE46ff;
--african-violet: #AB6DA6ff;

/* CSS HSL */
--black: hsla(0, 0%, 0%, 1);
--white: hsla(0, 0%, 100%, 1);
--olive: hsla(68, 41%, 37%, 1);
--amaranth-pink: hsla(332, 63%, 73%, 1);
--columbia-blue: hsla(197, 45%, 88%, 1);
--yellow-green: hsla(78, 58%, 54%, 1);
--african-violet: hsla(305, 27%, 55%, 1);

/* SCSS HEX */
$black: #000000ff;
$white: #FFFFFFff;
$olive: #7B8538ff;
$amaranth-pink: #E690B8ff;
$columbia-blue: #D2E6EEff;
$yellow-green: #A5CE46ff;
$african-violet: #AB6DA6ff;

/* SCSS HSL */
$black: hsla(0, 0%, 0%, 1);
$white: hsla(0, 0%, 100%, 1);
$olive: hsla(68, 41%, 37%, 1);
$amaranth-pink: hsla(332, 63%, 73%, 1);
$columbia-blue: hsla(197, 45%, 88%, 1);
$yellow-green: hsla(78, 58%, 54%, 1);
$african-violet: hsla(305, 27%, 55%, 1);

/* SCSS RGB */
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$olive: rgba(123, 133, 56, 1);
$amaranth-pink: rgba(230, 144, 184, 1);
$columbia-blue: rgba(210, 230, 238, 1);
$yellow-green: rgba(165, 206, 70, 1);
$african-violet: rgba(171, 109, 166, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #000000ff, #FFFFFFff, #7B8538ff, #E690B8ff, #D2E6EEff, #A5CE46ff, #AB6DA6ff);
$gradient-right: linear-gradient(90deg, #000000ff, #FFFFFFff, #7B8538ff, #E690B8ff, #D2E6EEff, #A5CE46ff, #AB6DA6ff);
$gradient-bottom: linear-gradient(180deg, #000000ff, #FFFFFFff, #7B8538ff, #E690B8ff, #D2E6EEff, #A5CE46ff, #AB6DA6ff);
$gradient-left: linear-gradient(270deg, #000000ff, #FFFFFFff, #7B8538ff, #E690B8ff, #D2E6EEff, #A5CE46ff, #AB6DA6ff);
$gradient-top-right: linear-gradient(45deg, #000000ff, #FFFFFFff, #7B8538ff, #E690B8ff, #D2E6EEff, #A5CE46ff, #AB6DA6ff);
$gradient-bottom-right: linear-gradient(135deg, #000000ff, #FFFFFFff, #7B8538ff, #E690B8ff, #D2E6EEff, #A5CE46ff, #AB6DA6ff);
$gradient-top-left: linear-gradient(225deg, #000000ff, #FFFFFFff, #7B8538ff, #E690B8ff, #D2E6EEff, #A5CE46ff, #AB6DA6ff);
$gradient-bottom-left: linear-gradient(315deg, #000000ff, #FFFFFFff, #7B8538ff, #E690B8ff, #D2E6EEff, #A5CE46ff, #AB6DA6ff);
$gradient-radial: radial-gradient(#000000ff, #FFFFFFff, #7B8538ff, #E690B8ff, #D2E6EEff, #A5CE46ff, #AB6DA6ff);